/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/Makefile
/build/Makefile.in
/build/depcomp
/build/install-sh
/build/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/multi-context-test
/stamp-h1

*.o
.deps
